
  #prof{
    position: relative;;
    margin:0;
    padding:0;
  }
  
  #profile{
    text-align:center;
    display:inline-table;
    list-style:none;
    position:relative;
    border:solid 12px #fff;
    background:#fff;
    box-shadow:0 0 15px 0px #555;
    transition:all 1s ease;
    -o-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    top:20px;
  }
  
  
  #profile:hover{
    top:0px;
    opacity:1;
  }
  
  #profile:nth-child(1){
      transform:rotate(0deg);
  }
  
  #profile:nth-child(2){
      transform:rotate(0deg);
  }
  
  #profile:nth-child(3){
      transform:rotate(0deg);
  }
  
  #profile:nth-child(4){
      transform:rotate(0deg);
  }
  
 
  
  .light{
    border-radius:50%;
    position: relative;;
    left:0;
    right:0;
    width:700px;
    height:700px;
    background:#fff;
    filter:blur(100px);
    opacity:0.3;
    pointer-events:none;
  }



