
  #prof{
    position: relative;;
    margin:0;
    padding:0;
  }
  
  #profile{
    text-align:center;
    display:inline-table;
    list-style:none;
    border-radius: 10%;
    position:relative;
    border:solid 12px #fff;
    background:#fff;
    box-shadow:0 0 15px 0px #555;
    transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    top:20px;
  }
  
  
  #profile:hover{
    top:0px;
    opacity:2;
  }
  

  
.jumbotron {
	
	background-image: linear-gradient(#8b9da9, #fff6e4);
 box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
}
 
  
  .light{
    border-radius:50%;
    position: relative;
    left:0;
    right:0;
    width:700px;
    height:700px;
    background:#fff;
    filter:blur(100px);
    opacity:0.3;
    pointer-events:none;
  }

  



