img{
      width: 200px;
      height: 200px;
  }
#badge
  {
      width: 500px;
      height: 400px;
  }
#video
  {
   border: 10px groove;
   padding: 10px;
   width: 500px;
   height: 500px;
   border-radius: 8px;
  }
  
.camera {
    width: 100%;
}

#imageHolder {
    margin-top: 40px;
}

.camera .actions {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.camera .actions button {
    margin-right: 5px;
}

.camera .actions input {
    margin-top: 8px;
    width: 250px;
}

#img_filter{
     position: relative;
     top: 400px;
     left: 0px;
     display: flex;
     width: 150px;
     height: 150px;
}

.take-pic .sticker {
    padding: 5px;
    border-bottom: 2px solid #44444478;
    text-align: center;
}
#scroll
{
    width: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
}


#imagefilter
{
    position:relative;
}


.actionBox {
    border-top:1px dotted rgb(184, 164, 164);
    padding:10px;
}
h6
{
    font-family: monospace;

}


.register .input {
    border-radius: 0 .25rem .25rem 0;
    outline: none;
}

.register .icon {
    border-radius: .25rem 0 0 .25rem;
}

.register .is-invalid .input-holder {
    border: 2px solid #dc3545;
    border-radius: .25rem;
}

.register .is-invalid .invalid-feedback{
    display: block;
}

.take-pic .preview, .take-pic .captured .camera {
    display: none;
}

.take-pic .camera, .take-pic .captured .preview {
    display: block;
}

.take-pic #finishActions {
    /* display: none; */
    display: flex;
    flex-direction: row;
    
}
.take-pic .preview {
    position: absolute;
    text-align: center;
}








