
#svg
{
    width: 200px;
    height: 200px;
}
#sv
{
    width: 100px;
    height: 100px;
}
li
{
    
    display: block;
}

h6
{
    font-family: monospace;

}


.register .input {
    border-radius: 0 .25rem .25rem 0;
    outline: none;
}

.register .icon {
    border-radius: .25rem 0 0 .25rem;
}

.is-invalid .input-holder {
    border: 2px solid #dc3545;
    border-radius: .25rem;
}

.is-invalid .invalid-feedback{
    display: block;
}

#video
{
    border-style: solid;
    border-color: 0 0 0 2em rgba(#fff,0);;
    border-radius: 5%;
}



/* The heart of the matter */
.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 
{
    display: inline-block;
    float: none;
}
/* Decorations */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    background-repeat: inherit;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.input-group-text {
  border-radius: .25rem 0 0 .25em;
}

input.input.form-control.bg-white.border-md.border-left-0.pl-3 {
    border-radius: 0 .25rem .25em 0;
}

@media (max-width: 789px) {
    .library .card-body {
        padding: 0;
        margin-top: 15px;
    }
    .library .container {
        padding: 0;
    }
    .btn-group.camera {
        display: block;
    }
}