#capture{
    text-align: center;
}

li {
    display: block;
  }
 
img{
     width: 200px;
     height: 200px;
 }




h6
{
    font-family: monospace;

}
nav
{
    height: auto;
    width: auto;
}

.register .input {
    border-radius: 0 .25rem .25rem 0;
    outline: none;
}

.register .icon {
    border-radius: .25rem 0 0 .25rem;
}

.register .is-invalid .input-holder {
    border: 2px solid #dc3545;
    border-radius: .25rem;
}

.register .is-invalid .invalid-feedback{
    display: block;
}

#video
{
    border-style: solid;
    border-radius: 5%;
}



/* The heart of the matter */
.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 
{
    display: inline-block;
    float: none;
}
/* Decorations */





