
#svg
{
    width: 200px;
    height: 200px;
}
#sv
{
    width: 100px;
    height: 100px;
}
li
{
    
    display: block;
}

h6
{
    font-family: monospace;

}

nav
{
    height: auto;
    width: auto;
}

.register .input {
    border-radius: 0 .25rem .25rem 0;
    outline: none;
}

.register .icon {
    border-radius: .25rem 0 0 .25rem;
}

.register .is-invalid .input-holder {
    border: 2px solid #dc3545;
    border-radius: .25rem;
}

.register .is-invalid .invalid-feedback{
    display: block;
}

#video
{
    border-style: solid;
    border-color: 0 0 0 2em rgba(#fff,0);;
    border-radius: 5%;
}



/* The heart of the matter */
.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 
{
    display: inline-block;
    float: none;
}
/* Decorations */
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }



