

li {
    display: block;
  }
 
img{
     width: 200px;
     height: 200px;
 }

.camera {
    width: 100%;
}

#imageHolder {
    margin-top: 40px;
}

.camera .actions {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.camera .actions button {
    margin-right: 5px;
}

.camera .actions input {
    margin-top: 8px;
    width: 250px;
}

#imagefilter{
    position: relative;
    width: 400px;
    height: 300px;
    margin: auto;
}



.take-pic .sticker {
    padding: 5px;
    border-bottom: 1px solid #44444478;
    text-align: center;
}


.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}

.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted rgb(184, 164, 164);
    padding:10px;
}
h6
{
    font-family: monospace;

}
nav
{
    height: auto;
    width: auto;
}

.register .input {
    border-radius: 0 .25rem .25rem 0;
    outline: none;
}

.register .icon {
    border-radius: .25rem 0 0 .25rem;
}

.register .is-invalid .input-holder {
    border: 2px solid #dc3545;
    border-radius: .25rem;
}

.register .is-invalid .invalid-feedback{
    display: block;
}

.take-pic .preview, .take-pic .captured .camera {
    display: none;
}

.take-pic .camera, .take-pic .captured .preview {
    display: block;
}

.take-pic #finishActions {
    /* display: none; */
    display: flex;
    flex-direction: row;
    
}

