#capture{
    text-align: center;
}

li {
    display: block;
  }
 
 
  body
  {
      background-image: url('../imgs/back.jpg');
  
  }
   img{
     width: 200px;
     height: 200px;
 }

 #imagefilter{
     position: absolute;
     width: 400px;
     height: 300px;
    
 }

 #img_filter{
     position: absolute;
     top: 10px;
     left: 10px;
     display: none;
     width: 200px;
     height: 200px;
 }


.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:100px;
    max-width: 100px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}

.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted rgb(184, 164, 164);
    padding:10px;
}
h6
{
    font-family: monospace;

}
nav
{
    height: auto;
    width: auto;
}

